.history-root{
  padding:20px;
  font-family:sans-serif;
}

.history-hero{
  text-align:center;
  margin-bottom:30px;
}
.history-hero p{
font-size:12px;
margin-left: 15%;
}

.timeline-container{
  position:relative;
  color: black;
  margin:40px 0;
  padding-left:20%;
}

.timeline-container::before{
  content:"";
  position:absolute;
  top:0;
  bottom:0;
  left:75px;
  width:4px;
  background:#f97316;
}

.timeline-item{
  position:relative;
  margin-bottom:30px;
}

.timeline-item.left{
  text-align:left;
}

.timeline-item.right{
  text-align:left;
  margin-left:60px;
}

.timeline-icon{
  position:absolute;
  left:-20px;
  background:#f97316;
  color:white;
  padding:10px;
  border-radius:50%;
  font-size:18px;
}

.timeline-content{
  padding:10px 15px;
  background:#f3f4f6;
  border-radius:10px;
  animation: fadeIn 0.6s ease-in-out;
}

@keyframes fadeIn{
  from{opacity:0; transform:translateY(10px);}
  to{opacity:1; transform:translateY(0);}
}

/* Cards Grid */
.card-grid{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
  gap:20px;
  margin-top:40px;
}

.card{width: 70%;
  margin-left: 18%;
  color: rgb(17, 17, 17);
  background:#fef3c7;
  border-radius:10px;
  padding:20px;
  text-align:center;
  transition:transform 0.3s, box-shadow 0.3s;
}

.card:hover{
  transform:translateY(-5px);
  box-shadow:0 5px 15px rgba(0,0,0,0.2);
}

.card-icon{
  font-size:30px;
  margin-bottom:15px;
  color:#f97316;
}
