.members-root{
  padding:20px;
  font-family:Inter,sans-serif;
  color:#0f1724;
  max-width:800px;
  margin-left:32%;
}
.members-root h1{
  font-size:26px;
  background:linear-gradient(90deg,#4c1d95,#8b5cf6);
  -webkit-background-clip:text; color:transparent;
  margin-bottom:20px;
  text-align:center;
}

/* FORM */
.member-form{
  display:flex; flex-wrap:wrap; gap:12px;
  background:#f8fafc;
  padding:16px; border-radius:12px;
  box-shadow:0 4px 12px rgba(8,15,52,0.05);
  max-width:900px;
  margin:0 auto 20px;
}
.member-form input,
.member-form select{
  flex:1 1 180px;
  padding:10px; border-radius:8px; border:1px solid #e5e7eb;
}

/* SEARCH */
.member-search input{
  width:100%; max-width:900px;
  margin:0 auto 12px;
  padding:10px; border-radius:8px; border:1px solid #e5e7eb;
  display:block;
}

/* MEMBER LIST */
.member-list{
  display:flex; flex-direction:column; gap:12px;
  max-width:600px; margin-left:-7%;
}
.member-card{
  display:flex; justify-content:space-between;
  padding:12px; border-radius:12px;
  background:#fff;
  box-shadow:0 6px 16px rgba(8,15,52,0.06);
  transition:.3s;
}
.member-card:hover{ transform:translateY(-4px); }

/* RESPONSIVE */
@media(max-width:1024px){
  .member-form,.member-search{ width:100%; margin-left:-4%;}
  .member-card{ width:70%; }
   .member-list{
    width:150%; margin-left:16%;
   }
   
}

@media(max-width:768px){
  .member-form,.member-search{ width:100%;}
  .member-card{ width:70%; }
   .member-list{
    width:100%; margin-left:10%;
   }
  }

@media(max-width:480px){
  .member-form input,
  .member-form select{
    flex:1 1 100%;
  }
  .member-root{ margin-left:50%; }
}

